<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmar exclusão</title>
    <link rel="stylesheet" href="getit.css" />
  </head>
  <body>
    <div class="appbar">
      <img src="img/logo-getit.png" class="logo" />
      <span class="subtitle">Tem certeza que quer apagar essa anotação?</span>
    </div>

    <main class="container">
      <div class="card">
        <h3 class="card-title">{title}</h3>
        <div class="card-content">
          <p>{details}</p>
        </div>
      </div>

      <div style="display: flex; gap: 20px; margin-top: 30px;">
        <a href="/delete/{id}/confirmar" class="btn">Sim</a>
        <a href="/" class="btn">Não</a>
      </div>
    </main>
  </body>
</html>